geoclip
#openmim
#Tkinter
# Core dependencies
pandas
tqdm
Pillow
easyocr
torch #==1.7.1+cu101  # or compatible with your CUDA setup (update if needed)
spacy
langdetect
matplotlib
folium
opencv-python
spacy-transformers
flask-ml==0.2.5
googletrans
pycountry
#openmim
#mmengine
#mmcv==2.0.0rc4
#mmdet>=3.0.0rc0
